body {
    font-family: 'Mulish', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* - header start - */
/* - navbar start - */
nav {
    display: flex;
    padding: 70px;
}

.logo-box {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #458FF6;
    border-radius: 50%;
}

.nav-t {
    position: absolute;
    color: #fff;
    font-size: 26px;
    text-align: center;
    top: -17px;
    left: 12px;
}

.nav-title {
    font-size: 24px;
    font-weight: 800;
    margin: 4px 0 0 5px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-home {
    font-size: 18px;
    font-weight: 700;
    opacity: 0.9;
    margin-left: 400px;
}

.nav-list-item {
    font-size: 18px;
    opacity: 0.7;
    margin-left: 40px;
}
/* - nav end - */

.header-box {
    display: flex;
    margin-left: 70px;
}

.header-w {
    font-size: 46px;
    margin-top: 100px;
}

.header-text {
    font-size: 20px;
    line-height: 30px;
    color: #7D7987;
    margin-top: -25px;
    margin-right: 100px;
}

.header-btn {
    width: 200px;
    height: 60px;
    font-size: 18px;
    color: white;
    background-color: #458FF6;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
}
/* - header end - */

/* - main start -*/
.main-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
}

.main-hr {
    width: 56px;
    height: 2px;
    background-color: #000;
    border: none;
}

.main-text {
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #7D7987;
}

.main-boxes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}

.main-box {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    margin: 18px;
}

.box-title {
    font-size: 24px;
    font-weight: 700;
    margin-left: 40px;
}

.box-text {
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    margin-left: 40px;
}

.main-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #458FF6;
    background: none;
    border: 1px solid #458FF6;
    border-radius: 30px;
    margin: 40px 0px 150px 550px;
}


/* - Section start - */
.section {
    display: flex;
    margin-left: 70px;
}

.section-box {
    margin: 40px 0 0 120px;
}

.section-box-title {
    font-size: 36px;
    font-weight: 700;
}

.section-box-hr {
    width: 56px;
    height: 2px;
    background-color: #000;
    border: none;
    margin-left: 0;
}

.section-box-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.section-box-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #458FF6;
    background: none;
    border: 1px solid #458FF6;
    border-radius: 30px;
}

.section2 {
    display: flex;
    margin: 100px 0 0 70px;
}

.section2-box {
    margin: 40px 120px 0 0;
    margin-top: 40px;
}

.section2-box-title {
    font-size: 36px;
    font-weight: 700;
}

.section2-box-hr {
    width: 56px;
    height: 2px;
    background-color: #000;
    border: none;
    margin-left: 0px;
}

.section2-box-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #7D7987;
}

.section2-box-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #458FF6;
    background: none;
    border: 1px solid #458FF6;
    border-radius: 30px;   
}

.section3 {
    width: 1000px;
    height: 360px;
    color: #fff;
    background-color: #458FF6;
    border-radius: 30px;
    margin: 100px 0 0 140px;
}

.section3-title {
    text-align: center;
    padding: 60px 0 0 0;
}

.section3-hr {
    width: 56px;
    height: 2px;
    background-color: #fff;
    border: none;
}

.section3-box {
    display: flex;
    margin-top: 50px;
}

.section3-box-img {
    width: 130px;
    height: 130px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 10px 15px 0 70px;
}

.section3-box-names {
    margin: 20px 140px 0 0;
}

.section3-box-w {
    font-size: 22px;
    font-weight: 700;
}

.section3-box-w2 {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    margin-top: -10px;
}

.section3-box-text {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.icons {
    display: flex;
    margin: 30px 0 0 470px;
}

.fa-solid {
    font-size: 20px;
    color: #458FF6;
    margin-left: 50px;

}

.fa-left {
    opacity: 0.4;
    margin-right: 30px;
}

.dot-icons {
    width: 8px;
    height: 8px;
    background-color: #458FF6;
    border-radius: 50%;
    margin-left: 20px;
    margin: 5px 0 0 20px;
}

.dot {
    opacity: 0.4;
}

.section4 {
    margin-top: 150px;
}

.section4-title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.section4-hr {
    width: 56px;
    height: 2px;
    background-color: #000;
    border: none;
    margin-bottom: 100px;
}

.section4-boxes {
    display: flex;
    margin-left: 140px;
}

.section4-box {
    width: 315px;
    height: 510px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
    border-radius: 20px;
} 

.image {
    width: 315px;
    height: 240px;
    margin-top: -12px;
}

.section4-box-title {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 0 20px;
}

.section4-box-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #7D7987;
    margin: 20px 0 40px 20px;
}

.section4-box-link {
    color: #458FF6;
    text-decoration: none;
    margin: 0px 0 0 20px;
}

.section4-btn {
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #458FF6;
    background: none;
    border: 1px solid #458FF6;
    border-radius: 30px; 
    margin: 70px 0 140px 540px;   
}
/* - section end - */
/* - main end - */

/* - footer start - */
footer {
    display: flex;
    height: 450px;
    color: #fff;
    background-color: #458FF6;
}

footer .container {
    display: flex;
}

.footer-box {
    margin: 80px 0 0 0;
}

.logobox {
    display: flex;
}

.footer-logo-box {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.footer-logo {
    position: absolute;
    color: #458FF6;
    font-size: 26px;
    text-align: center;
    top: -17px;
    left: 12px;
}

.footer-title {
    font-size: 24px;
    font-weight: 700;
    margin: 5px 0 0 8px;
}

.footer-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    opacity: 0.7;
}

.text {
    font-size: 16px;
    opacity: 0.7;
    margin-top: 70px;
}

.footer-list {
    list-style: none;
    margin: 95px 0 0 70px;
}

.footer-list-main {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer-list-item {
    font-size: 18px;
    font-weight: 300;
    opacity: 0.7;
    margin-bottom: 24px;
}
/* - footer end - */